* {
    box-sizing: border-box;     /* 테두리 영역의 크기 */
}

.menu > .ch_coffee,
.menu > .ch_pakisccino,
.menu > .ch_dessert {
	overflow: hidden;			/* div 크기 넘어가는 데이터는 숨김 */
}

/* 메뉴 카테고리 버튼 */
button.btn_coffee,
button.btn_nonCoffee,
button.btn_juiceNade,
button.btn_paiksCcino, 
button.btn_blended, 
button.btn_tea,
button.btn_tapiocaPearl,
button.btn_dessert {
    width: 525px;
    height: 150px;
    background-color:#fad541;
    border: 0px;
	display:inline-block;
	cursor:pointer;
	color:#292829;
	font-family:Arial;
	font-size:39px;
	padding:15px 29px;
	text-decoration:none;
    margin-right: -6px;
}
button.btn_coffee:hover,
button.btn_nonCoffee:hover,
button.btn_juiceNade:hover,
button.btn_paiksCcino:hover, 
button.btn_blended:hover, 
button.btn_tea:hover,
button.btn_tapiocaPearl:hover,
button.btn_dessert:hover {
	background-color:#292929;
    color: #ffffff;
}
button.btn_coffee:active,
button.btn_nonCoffee:active,
button.btn_juiceNade:active,
button.btn_paiksCcino:active, 
button.btn_blended:active, 
button.btn_tea:active,
button.btn_tapiocaPearl:active,
button.btn_dessert:active {
	position:relative;
	top:1px;
}

.ch_coffee > .coffee,
.ch_Ncoffee > .Ncoffee,
.ch_juiceNade > .juiceNade,
.ch_pakisccino > .pakisccino,
.ch_blended > .blended,
.ch_tea > .tea,
.ch_tapioca > .tapioca,
.ch_dessert > .dessert {
	float: left; 			/* 두 div 나란히 놓기 */ 
	cursor: pointer; 
	padding-right: 25px;
}
.menu_name {
	font-size: 40px;
}
.price {
	font-size: 40px; 
	float: right;
}

/* 하단 페이지 슬라이드 부분 */
.paginate {
	text-align: center;		/* 위치 가운데로 */
}
.paginate a {
	text-decoration: none;
	color: #7e7d7e;
}

/* 가운데 동그라미 */
.paginate > .slide1,
.paginate > .slide2 {
	width: 21px;
	height: 21px;
	background-color: #ffffff;
	border-radius: 100%;
	border: 2px solid #7e7d7e;
	display: inline-block;			/* 두 div 나란히 놓기 */
	cursor: pointer;
	margin-bottom: 30px;
}
.paginate > .slide1:hover,			/* 버튼 위에 마우스 뒀을 때 */
.paginate > .slide2:hover {
	background-color: #193d99;
	border: 2px solid #193d99;

}
.paginate > .slide1:active,			/* 버튼 눌렀을 때 액션*/
.paginate > .slide2:active {
	background-color: #193d99;
	border: 2px solid #193d99;
}

.paginate > .slide1 {
	margin-left: -10px;
	margin-right: 17px;
}
.paginate > .slide12 {
	margin-right: -10px;
}

/* 좌우 이동 화살표 */
.paginate > .prev:hover,			/* 버튼 위에 마우스 뒀을 때 */
.paginate > .next:hover {
	
	
}

.paginate > .prev {
	margin-right: 300px;
}
.paginate > .next {
	margin-left: 300px;
}

/* 하단 주문바 */
.orderbar {
	width: 2100px;
	height: 400px;
	background-color: rgb(248,244,244);
} 

/* 주문 한 상품 박스 */
.orderbar_text {
	width: 290px;
	height: 95px;
	font-size: 40px;
    font-weight: bold;
	color: #ffffff;
	background-color: #193d99;
	border-top-right-radius: 45px;
	border-top-left-radius: 45px;
	margin-top: 40px;
	margin-left: 900px;
	padding:20px 30px;
}

/* 주문 한 상품 박스 좌우 화살표*/
.car_left,
.car_right {
	background-color: rgb(248,244,244);
	cursor:pointer;
	border: 0px;
	margin-top: 150px;
}
.car_left {
	margin-left: 25px;
}
.car_right {
	margin-left: 1070px;
}
.order_img1,
.order_img2,
.order_img3 {
	margin-top: -200px;
	margin-right: 60px;
}
.order_img1 {
	margin-left: 110px;
}

/* 총 결제 금액 div, 결제 버튼 */
.amountNcancle,
.pay {
	float: left; 				/* 두 div 나란히 놓기 */
	margin-top: -350px;
}

/* 총 결제 금액 및 결제 취소 버튼 */
.amountNcancle {
	width: 520px;
	height: 400px;
	background-color: #292929;
	margin-left: 1250px;
}
.amount_info {
	width: 520px;
	height: 250px;
	display: table-cell;
    vertical-align: middle;
}
.amount_text {
	font-size: 40px;
	color: #fad541;
	margin-left: 270px;
}
.amount {
	font-size: 60px;
	font-weight: bold;
	color: #fad541;
	margin-left: 390px;
}
.cancle {
	width: 520px;
	height: 150px;
	font-size: 44px;
	font-weight: bold;
	color: #ffffff;
	background-color: #1e1e1e;
	cursor:pointer;
	border: 0px;
}
.cancle:hover {
	background-color: #151515;
}
/* 결제하기 버튼 */
.pay {
	width: 330px;
	height: 400px;
	color: #ffffff;
	font-size: 49px;
	font-weight: bold;
	background-color: #193d99;
	cursor:pointer;
	border: 0px;
}
.pay:hover {			/* 버튼 위에 마우스 뒀을 때 */
	background-color: #163583;
}
.pay_img {
	margin-bottom: 40px;
}