*{padding:0;margin:0;}
li{list-style:none}
a{text-decoration:none; font-size:14px}
/*nav{
    width:1000;
    overflow:hidden;
    height:100px;
    background-color:#c9d4ff;
    margin:0 auto}*/
.menu{
    width:1280px;
    overflow:hidden;
    margin: 20 auto;
    background-color: rgb(194, 107, 252);
}
.menu> li{
    float:left;
    width:25%;
    height:50px;
    line-height:50px;
    text-align:center;
}
.menu a{
    color:rgb(255, 255, 255)
}
/*.menu>li ul{ display:none; }

.menu>li:hover{
    ul{display:block;}
 }*/
.menu>li:hover{
    background-color: rgb(213, 169, 255);
    transition-duration: 0.5s;
}
.menu>li:hover .submenu{
    height:50px;
    transition-duration: 1s;
}
.submenu>li{
    line-height :50px;
}
.submenu{
    height:0;
    overflow :hidden;
}


/*.header{ padding: 30px;
    h1float:left;
    navfloat:right; /*가로정렬*/
    /*.gnb>lifloat:left;
    .header_wrapwidth:1200px; margin:0 auto;

    .gnb>li ul display:none;}  /*안보이게*/
    /*.gnb>li:hover{ }
        /*ul{ display : block; }
    } 마우스 올리면 보이게*/

    /*margin:0 auto;는 위아래는 0 왼쪽오른쪽은 오토값, 마진은 여백설정코드*/

