* {
    box-sizing: border-box;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.carousel-wrapper > .carousel {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.carousel-wrapper > .carousel > img {
    width: 300px;
    height: 300px;
}